.header {
    border-bottom: 1px solid #ECECEC;
    &__container{
        @include mobile{
            height: 60px;
        }
        @include tablet{
            height: 80px;
        }
    }
    
        
    &__container {
        display: flex;
        position: relative;
        border: none;
    }
        
}
        

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
            @include font(24px, 700, 1.2, 00.03em);
    
            font-family: "Raleway", sans-serif;
            color: #000000;
            text-decoration: none;
    
            @include mobile {
                padding: 16px 0;
            }
    
            @include tablet {
                padding: 26px 0;
            }
    
            @include desktop {
                @include font(26px, 700, 1.2, 00.03em);
                padding: 24px 0;
            }
    
            &__first {
                color: var(--accent-color);
            }
        }
    
        &__burger-menu {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            border: none;
            border-radius: 50%;
            outline: none;
            
    
            @include tablet {
                display: none;
            }
        }
        
    &__list {
        margin-left: 93px;
        display: none;

        @include tablet{
            display: flex;
            margin-left: 87px;
                }
         @include desktop{
            display: flex;
         }       
    }
        
    &__item {
        &:not(:last-child) {
        margin-right: 50px;
        }
    }
        
    &__link {
        color: var(--praymory-text-color);
    }
        
}
.current:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: -1px;
    border-radius: 2px;
}

.menu__link:hover,
.menu__link:focus {
    color: var(--accent-color)
}

.menu__link-active {
    color: var(--accent-color);
}

.contact{
    &__list {
        display: none;
        margin-left: auto;
    
        @include tablet {
            display: flex;
            flex-direction: column;
            padding: 21px 0;
            }
        @include desktop{
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding: 32px 0;
        }
    }
    
    &__item {
        @include tablet{
        &:not(:last-child) {
            margin-bottom: 10px;
            }
        }
        @include desktop {
           margin-left: 50px;
        }
    }
    
    &__link {
        display: flex;
        align-items: center;
        color: var(--text-color);
        fill: currentColor;

        @include tablet {
            font-size: 12px;
            line-height: 1.2;
            gap: 8px;
            
        }
        @include desktop{
            gap: 10px;
        }
    }
}
.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.contact__link:hover svg,
.contact__link:focus svg {
    fill: currentColor;
}






