.work {
    @media screen and (max-width: 1199px) {
       display: none; 
    }
    padding-top: 94px;
    padding-bottom: 94px;

    &__title{
        margin-bottom: 50px;
    }
    
    &__list {
            display: flex;
            gap: 30px;
        }
    
    &__details{
            position: relative;
        }
    
    &__wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--secondary-text-color);
            width: 370px;
            height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
        }
}

img {
    display: block;
}
